 
.quantityInput{
    width: 50px !important;
    padding: 6px 3px;
    text-align: center;
    border: 1px solid #cfb1b1;
    outline: 0;
    margin-right: 1px;

}


.quantityChargeInput{
    width: 50px !important;
    padding: 6px 3px;
    text-align: center;
    border: 1px solid #cfb1b1;
    outline: 0;
    margin-right: 1px;

}

           


